@{
    ViewData["Title"] = "Acertijos";
}

<h1>Codigo:</h1>

<h1>Acertijo 1:</h1>
<p>
Un vaso sin igual, aunque no de cristal,
que en sombra y misterio se alza sin rival.
En la última alianza, su esencia fue vertida,
en la comunión del alma, su historia es escondida.</p>

<h1>Acertijo 2:</h1>
<p>No busques en palabras ni en sonidos,
sino en la cuenta de sus latidos.
Cada letra tiene un número oculto,
y en esa cifra se esconde el culto.
Para encontrar lo que debes hallar,
mira los números, no solo hablar.</p>

<h1>Acertijo 3:</h1>
<p>En la cuenta sagrada hay un número maldito,
que se repite tres veces, un signo temido.
Para hallar la verdad y evitar su poder,
debes saltar lo que al seis puedes ver.
No tomes lo que al seis es fiel,
ni múltiplo ni sombra de aquel.
Solo así el mensaje podrás encontrar,
limpio y puro, sin maldad.</p>

<h1>Acertijo 4:</h1>
<p>Un número sagrado y lleno de poder,
siete veces perfecto, difícil de vencer.
Pero si quieres revelar lo oculto y sutil,
debes apartar lo que en siete es múltiplo fiel.
No temas dejar atrás lo que parece esencial,
pues en lo que queda hallarás la señal.
¿Cuál es la regla para descubrir el mensaje real?</p>

<h1>Acertijo Final:</h1>
<p>Seis son los guardianes que quedan al final,
cada uno un símbolo, un valor especial.
Dejaron atrás sombras de seis y siete,
para mostrar un nombre que en secreto te mete.
Une sus voces, sin miedo ni duda,
y en sus letras hallarás la clave absoluta.
¿Qué debes hacer para el misterio revelar?</p>

<p>Presione la tecla de espacio para volver</p>

<script>
    document.addEventListener('keydown', function(event) {
        if (event.code === 'Space') {
            vent.preventDefault();
            window.location.href = 'Presentacion/PrimerCuartoII.cshtml';
        }
    });
</script>