@{
    ViewData["Title"] = "Carta";
}

<h1>Para Franco P. Colombo</h1>

<p>Mi amigo en esta causa tan linda, ya estamos listos para el ataque, tenemos más seguidores que ántes, más ayuda que ántes y por lo tanto más recursos. Mañana vamos a D.C. y matamos al Presidente Clinton y a cualquier otro que este en la casa blanca y los purificaremos con el regalo que es la muerte.</p>

<h1>Su estimado amigo, VI</h1>

<p>Presione la tecla de espacio para avanzar</p>

<script>
    document.addEventListener('keydown', function(event) {
        if (event.code === 'space') {
            vent.preventDefault();
            window.location.href = 'SalaI/HistoriaII.cshtml';
        }
    });
</script>