@{
    ViewData["Title"] = "Cofre";
}
<style>
    body {
        background-image: url('/Imagenes/Cofre.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .carta, .vela, .libro {
        position: absolute;
    }

    .carta a, .vela a, .libro a {
        display: block;
        position: absolute;
        cursor: pointer;
        background: rgba(255,255,255,0);
    }

    .carta a {
        left: 51vw;   
        top: 24vh;    
        width: 27vw;  
        height: 29vh; 
    }

    .vela a {
        left: 41vw;   
        top: 50vh;    
        width: 7vw;   
        height: 14vh;  
    }

    .libro a {
        left: 14vw;    
        top: 22vh;    
        width: 28vw;   
        height: 18vh; 
    }

    .mensaje {
        font-size: 200%;
        font-family: 'Fira Mono', 'Roboto Mono', 'Source Code Pro', 'Courier New', Courier, monospace;
    }
</style>

<div class="carta">
    <a href="#" onclick="abrirPopup(); return false;"></a>
</div>

<div class="vela">
    <a href="@Url.Action("Vela")"></a>
</div>

<div class="libro">
    <a href="@Url.Action("NoDisponibleCofre")"></a>
</div>

<script>
    function abrirPopup() {
        window.open('@Url.Action("Carta")', "Carta", "width=600, height=400")
    }
</script>

