@{
    ViewData["Title"] = "CartaEncontrada";
}

<p>@ViewBag.nombre se encontró una carta que literalmente admitía a planear matar al Presidente, al ver esto se sintió satisfecho con la evidencia e intentó salir pero, la puerta ya no estaba, @ViewBag.nombre estaba encerrado y la única puerta que lo liberaría era la que llevaba a la segunda sala, puerta cerrada con llave. @ViewBag.nombre no sabía si habría otra salida o si podría encontrar un código, pero tenía que intentarlo.</p>

<p>Presione la tecla de espacio para volver al cuarto</p>

<script>
    document.addEventListener('keydown', function(event) {
        if (event.code === 'space') {
            vent.preventDefault();
            window.location.href = 'SalaI/<PrimerCuartoII>.cshtml';
        }
    });
</script>