@{
    ViewData["Title"] = "Créditos";
}

<style>
    body {
        background-color: black;
        height: 100%;
        margin: 0;
    }

    #mensajeIntro {
        color: white;
        font-size: 200%;
        font-family: "Courier New", Courier, monospace;
        font-weight: bold;
        margin-top: 22%;
        text-align: center;
        opacity: 0;
        transition: opacity 2s;
    }
</style>

<div id="mensajeIntro">Soundtrack creado por Maximo Hevia</div>
<audio src="/Audio/Tom.wav" preload="auto" autoplay></audio>

<script>
    const mensaje = document.getElementById('mensajeIntro');
    
    // Fade in
    setTimeout(() => {
        mensaje.style.opacity = '1';
    }, 1000);

    // Fade out y redirección
    setTimeout(() => {
        mensaje.style.opacity = '0';
        setTimeout(() => {
            window.location.href = '/Home/Logo';
        }, 2000);
    }, 3000);
</script>